QPushButton {
        border: 5px solid #6A5ACD;
        border-radius: 30px;
        border-style: outset;
        padding: 5px;
}
QPushButton:hover {
        border: 5px solid #9932CC;
        border-radius: 30px;
        border-style: outset;
        padding: 5px;
}
QPushButton:focus {
    outline: none;
    border: 5px solid #4f87e1;
    border-radius: 30px;
    border-style: outset;
    padding: 5px;
}

QToolButton {
        border: 5px solid #6A5ACD;
        border-radius: 30px;
        border-style: outset;
        padding: 5px;
}
QToolButton:hover {
        border: 5px solid #9932CC;
        border-radius: 30px;
        border-style: outset;
        padding: 5px;
}
QToolButton:focus {
    outline: none;
    border: 5px solid #4f87e1;
    border-radius: 30px;
    border-style: outset;
    padding: 5px;
}


QSlider {
    height: 64px;
}

QSlider::groove:horizontal {
border: 1px solid #bbb;
background: white;
height: 18px;
border-radius: 4px;
}

QSlider::sub-page:horizontal {
background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
    stop: 0 #66e, stop: 1 #bbf);
background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
    stop: 0 #bbf, stop: 1 #55f);
border: 1px solid #777;
height: 10px;
border-radius: 4px;
}

QSlider::add-page:horizontal {
background: #fff;
border: 1px solid #777;
height: 10px;
border-radius: 4px;
}

QSlider::handle:horizontal {
width: 26px;
margin-top: -2px;
margin-bottom: -2px;
border-radius: 4px;
}

QSlider::handle:horizontal:hover {

}

QSlider::sub-page:horizontal:disabled {
background: #bbb;
border-color: #999;
}

QSlider::add-page:horizontal:disabled {
background: #eee;
border-color: #999;
}

QSlider::handle:horizontal:disabled {
background: #eee;
border: 1px solid #aaa;
border-radius: 4px;
}

QListWidget {
        border: 5px solid rgb(184, 175, 247);
        border-radius: 5px;
        border-style: solid;
        background-color:  rgb(255, 255, 255);
        padding: 1px;
}
QListWidget:item {
        color: rgb(0, 0, 0);
        border: 1px solid rgb(184, 175, 247);
        border-radius: 3px;
        background-color:  rgb(255, 255, 255);
        padding: 1px;
}
QListWidget:item:hover {
        color: rgb(255, 240, 79);
        border: 1px solid rgb(184, 175, 247);
        border-radius: 3px;
        background-color:  rgb(184, 175, 247);
        padding: 1px;
}
QListWidget:item:selected {
        color: rgb(255, 240, 79);
        border: 1px solid rgb(184, 175, 247);
        border-radius: 3px;
        background-color:  rgb(184, 175, 247);
        padding: 1px;
}


QScrollBar:horizontal {
    background: white;
    height: 10px;
    margin: 0px 10px 0px 10px;
}
QScrollBar::handle:horizontal {
    background: white;
        border: 2px solid rgb(184, 175, 247);
        border-radius: 5px;
    min-width: 10px;
}
QScrollBar::handle:horizontal:hover {
    background: rgb(184, 175, 247);
        border: 2px solid rgb(184, 175, 247);
        border-radius: 5px;
    min-width: 10px;
}
QScrollBar::add-line:horizontal {
    background: white;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    background: white;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar:vertical {
    background: white;
    width: 10px;
    margin: 10px 0px 10px 0px;
}
QScrollBar::handle:vertical {
    background: white;
        border: 2px solid rgb(184, 175, 247);
        border-radius: 5px;
    min-width: 10px;
}
QScrollBar::handle:vertical:hover {
    background: rgb(184, 175, 247);
        border: 2px solid rgb(184, 175, 247);
        border-radius: 5px;
    min-height: 10px;
}
QScrollBar::add-line:vertical {
    background: white;
    height: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    background: white;
    height: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QMenu {
    background-color: rgb(234, 229, 255);
    border: 2px solid rgb(184, 175, 247);
    border-radius: 4px;
}
QMenu:item {
    background-color: transparent;
}
QMenu:item:selected {
    color: #FFFF33;
    background-color: #E960A0;
    border-radius: 4px;
    border-bottom: 2px solid rgb(184, 175, 247);
}
QToolButton::menu-indicator {
    image: none;
}
